  body {

  background-color: white;

}

.cthide {

  overflow: hidde;

  padding: 5px;

  overflow: hidden;

}

.ctfooter {

  position:bottom;

  padding: 1px;

  }

a {

  text-decoration: none;

  font-size: 2em;

  font-family: Arial;

  font-weight: bolder;

  color: #f9340a;

}

.ctweb {

  width: 85%;

  height: 65px;

  background: #f4f0ef;

  text-align: center;

  border-radius: 10px;

  padding-top: 20px;

  margin-left: 10%;

  margin-top: 5%;

  position: relative;

  color: #c8b2ad;

  top: 90px;

  transition-duration: 0.5s;

  transition-timing-function: linear;

}

.ctall {

  transform: translate(-50%, -50%);

  position: absolute;

  top: 50%;

  left: 50%;

}

.ctouter {

  width: 180px;

  height: 180px;

  border-radius: 180px;

  background-color: #1197f0;

  box-shadow: 0px 0px 10px gray;

  z-index: 2;

}

.ctbutton {

  width: 100px;

  height: 100px;

  border-radius: 100px;

  background-color: #ffb3b3;

  border: 5px solid red;

  box-shadow: 0px 0px 10px red;

  position: absolute;

  top: 35px;

  left: 35px;

}

.ctlogo {

  width: 40px;

  height: 40px;

  border-radius: 40px;

  background: radial-gradient(transparent 0px 15px, white 15px 40px);

  z-index: 2;

  position: absolute;

  top: 68px;

  left: 69px;

  opacity: 0.8;

}

.ctlogo:before {

  content: " ";

  position: absolute;

  width: 6px;

  height: 25px;

  border-radius: 10px;

  background-color: white;

  left: 17px;

  top: -8px;

}

.ctswitch {

  width: 180px;

  height: 180px;

  border-radius: 180px;

  background-color: transparent;

  position: absolute;

  top: 0px;

  z-index: 3;

}

  

